/*
Header nav
reset navbar
*/

.navbar{
    margin-bottom: 1px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #9fd10e;
    color: #ffffff;
}

.navbar-nav {
    float: right;
}

@media (max-width: 768px) {
    .navbar-nav {
        float: left;
    }
}

/*slider*/
.carousel-control.left {
    background-image: none;
}

.affix {
    bottom:300px;
}

