/*
Header nav
reset navbar
*/

.navbar{
    margin-bottom: 1px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav > li > a:hover{
    /*background-color: #9fd10e;*/
    /*color: #ffffff;*/
    color:#9fd10e;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    /*color: #ffffff;*/
    color:#9fd10e;
}

.navbar-nav {
    float: right;
}

@media (max-width: 768px) {
    .navbar-nav {
        float: left;
    }
}

/*slider*/
.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.affix-bottom {
    position: absolute;
    top: auto;
}

@media (max-width:768px){
    .affix {
        position: relative;
    }

    .affix-bottom {
        position: relative;
    }
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -15px;
    color: #9fd10e;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-next {
    margin-right: -15px;
    color: #9fd10e;
}
